@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
    background-color: hsl(243, 31%, 89%);
        background-image: url("img/1.jpg");
           
    }
    .container{
        display: flex;
        height: 550px;
        width: 830px;
        box-shadow: 0 0 20000px #fcffff;
        margin: auto;
        margin-top:  50px;
    
    }
        .info {
            background-image: url("img/farmacia.jpg");
            
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 10px 10px;
            width: 50%;
            border-radius: 20px 20px 20px 20px;
            border: 10px solid #005187;
        }
            .contenedor{
                position: relative;
                display: inline-block;
                text-align: center;

            }
            
            .texto-encima{
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .centrado{
              
                font: oblique bold 190% cursive;
                text-decoration: underline;
                position: absolute;
                top: 18%;
                left: 35%;
                transform: translate(-50%, -50%);
            }
        

    
        .info hr {
            width: 400px;
            border: 4px solid #4d82bc ;
       
    
        }
       
        .form {
         
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 100px 10px;
            width: 10%;
            padding: 100px 100px;
            width: 50%;
            text-align: center;
            background-color: #37749c;
            border-radius: 0px 0px 0px 10px;
            -moz-border-radius: 0px 0px 0px 0px;
            -webkit-border-radius: 16px;
             border: #fcffff 9.5px solid;
    
        }
      
        header{
            color: #fcffff;
            font-size: 155px;
            font: oblique bold 200% cursive;  
            height: 10px;
            justify-content: center;
            font-size: 22px;
          height: 60px;
          font-family: Arial, Helvetica, sans-serif;
          width: 210px;
          text-decoration: underline;
          
         
          color: #ffffff; 
          font-size: 18px; 
          font-weight: 200; 
          text-align: center; 
          background:  #005187;
          margin: 0 0 25px; 
          overflow: hidden; 
          padding: 20px; 
          border-radius: 35px 0px 35px 0px; 
          -moz-border-radius: 35px 0px 35px 0px; 
          -webkit-border-radius: 35px 0px 35px 0px; 
          border: 2px solid #5878ca;
          
        }
        h1{
            color: #fcffff;
            font-size: 155px;
            font:Arial, Helvetica, sans-serif 120% cursive;  
            height: 10px;
            justify-content: center;
            font-size: 22px;
          height: 10px;
        }
        .input-field .input{
            height: 44px;
            width: 90%;
            border: none;
            border-radius: 30px;
            color: #0c0b0b;
            font-size: 15px;
            padding: 0 0 0 45px;
            background: #704b4b;
            outline: none;
        }
    
        .form p {
            font-size: 16px;
            color:#6663eb;
            margin-bottom: 25px;
        }
    
     
        .box {
            outline: none;
            border-color: #6663eb;;
            border-width: 0px 0px 0px 5px;
            border-style: solid;
            padding: 85px 35px;
            margin-bottom: 20px;
            background-color: #131c81;
              
        }
        .input-field .input{
            height: 44px;
            width: 120%;
            border: none;
            border-radius: 30px;
            color: #fcffff;
            font-size: 15px;
            padding: 0 0 0 45px;
            background: #4d82bc;
            outline: none;
            font: Arial, Helvetica, sans-serif 80% cursive; 
        }
        i{
            position: relative;
            top: -80px;
            left: -69px;
            color: #fcffff;
        }
        ::-webkit-input-placeholder{
            color: #fcffff;
        }
        .submit{
            border: none;
            border-radius: 30px;
            font-size: 15px;
            height: 45px;
            outline: none;
            width: 110%;
            color: #fcffff;
            background: #84b6f4;
            cursor: pointer;
            transition: .3s ;
        }
        .submit:hover{
            
            box-shadow: 1px 5px 7px 1px #fcffff;
        }
        .two-col{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #fff;
            font-size: small;
            margin-top: 20px;
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            justify-content: center;
            font-size: 14px;
        }
        .one{
            display: flex;
        }
        label a{
            font: Arial, Helvetica, sans-serif 200% cursive;  
            text-decoration: none;
            color: #fcffff;
            
        }
        
    
        @media(max-width:990px) {
        .container {
            width: 350px;
            height: 600px;
            margin-top: 100px;
    
        }
        .info {
            display: none;
        }
        .form {
            width: 100%;
            padding: 30px;
        }
        .form h2 {
            margin-top: 40px;
        }
    
        .inpu { background-color: #6663eb;;
        padding: 15px;
        border: 0;
        color: #fff;
        font-size: 18px;
        text-transform: x;
        border-radius: 25px;
    
    }
    }
    
    